.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 5px  black;
    
}
.field{
    margin-bottom: 20px;
}
label{
    display: block;
    text-align: left;
    padding-top: 5px;
    font-size: 17px;
   
}
input[type='text'],
input[type='password'] {
    margin-top: 10px;
  width: 98%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .error{
    color: red;
    font-size: 14px;
  }
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
     position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}